@tailwind base;

:root {
  --color-ytGray-10: #f8f8f8; /* ytGray-10 */
  --color-ytGray-20: #f0f0f0; /* ytGray-20 */
  --color-ytGray-30: #f2f2f2; /* ytGray-30 */
  --color-ytGray-40: #e5e5e5; /* ytGray-40 */
  --color-ytGray-50: #d9d9d9; /* ytGray-50 */
  --color-ytGray-60: #d3d3d3; /* ytGray-60 */
  --color-ytGray-70: #c6c6c6; /* ytGray-70 */
  --color-ytGray-90: #616161; /* ytGray-90 */
  --color-ytBlue-10: #def1ff;
  --color-ytBlue-50: #1c62b9;
  --ripple-bg-color: rgba(0, 0, 0, 0.1);
  --skeleton-base-color: #e0e0e0;
  --skeleton-highlight-color: #f5f5f5;
}

.dark {
  --color-ytGray-10: #222222;
  --color-ytGray-20: #aaaaaa;
  --color-ytGray-30: #272727;
  --color-ytGray-40: #3f3f3f;
  --color-ytGray-50: #3d3d3d;
  --color-ytGray-60: #303030;
  --color-ytGray-70: #303030;
  --color-ytGray-90: #121212;
  --color-ytBlue-10: #263850;
  --color-ytBlue-50: #3ea6ff;
  --ripple-bg-color: rgba(255, 255, 255, 0.1);
  --skeleton-base-color: #202020;
  --skeleton-highlight-color: #444;
}

input {
  @apply appearance-none border-none bg-transparent shadow-none outline-none;
}

a {
  @apply cursor-pointer no-underline;
}

button {
  @apply m-0 cursor-pointer p-0;
}

h1 {
  @apply text-xl font-bold leading-snug text-black;
}

h3 {
  @apply text-base font-medium leading-snug text-black;
}

@tailwind components;

/***** Header *****/
/** HeaderSearchBar **/
.searchContainer {
  @apply relative ml-8 flex flex-1 cursor-text items-center rounded-[40px_0_0_40px] border border-r-0 border-ytGray-70 bg-white pl-4 pr-1 shadow-[inset_0_1px_2px_#eee];
}

.searchContainer:focus-within {
  @apply ml-0 border-r border-ytBlue-50 py-[2px] pl-12 pr-1 shadow-[inset_0_1px_2px_rgba(0,0,0,0.3)];
}

.searchBtn {
  @apply w-16 rounded-r-[40px] border border-ytGray-60 bg-ytGray-10 hover:border-ytGray-70 hover:bg-ytGray-20 dark:hover:border-ytGray-60 dark:hover:bg-ytGray-10;
}

.channelNameText {
  @apply cursor-pointer hover:text-black dark:hover:text-white;
}

.tooltip {
  @apply pointer-events-none absolute z-[1002] m-2 whitespace-nowrap rounded-sm bg-ytGray-90 p-2 text-xs text-white dark:bg-ytGray-50;
  @apply tooltipAnimation;
}

.channelNameText:hover .tooltip {
  @apply opacity-90;
}

/** HeaderUserMenu **/
.signInBtn {
  @apply flex items-center whitespace-nowrap rounded-full border border-solid border-ytGray-70 px-4 text-sm leading-9 text-ytBlue-50 hover:bg-ytBlue-10;
}

.avatarBtn {
  @apply flex items-center justify-center;
}

.avatarImageWrapper {
  @apply mx-2 overflow-hidden rounded-full object-fill;
}

.avatarBtn:focus .avatarImageWrapper {
  @apply shadow-[0_0_0_1px_#1c62b9];
}

/***** SideBar *****/
.sidebarIconWrapper {
  @apply relative inline-block rounded-lg bg-transparent hover:bg-ytGray-30 active:bg-ytGray-50;
}

.sidebarIconLink {
  @apply flex w-16 flex-col items-center justify-center py-4 outline-none;
}

.sidebarIconText {
  @apply block max-w-full overflow-ellipsis whitespace-nowrap text-[10px] font-normal;
}

/***** VideoGrid *****/
/** VideoGrid **/
.videoGridCols {
  @apply grid w-full grid-cols-1 justify-start pt-6 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

/** VideoCard **/
.videoCardOverlay {
  @apply absolute inset-0 rounded-xl bg-black transition-opacity duration-300 ease-out dark:bg-white;
}

/***** MyPage *****/
.logoutBtn {
  @apply my-3 flex h-8 items-center justify-center rounded-full bg-ytGray-30 hover:bg-ytGray-50 active:bg-ytGray-70;
}

.myPageBtn-common {
  @apply flex h-9 items-center justify-center rounded-full border border-ytGray-40 hover:bg-ytGray-40 active:bg-ytGray-70;
}

@tailwind utilities;

/***** Header *****/
/** HeaderSearchBar **/
.tooltipAnimation {
  @apply opacity-0 transition-opacity duration-300 ease-in-out;
}

/***** VideoGrid *****/
/** VideoCard **/
.ripple-effect {
}

.ripple-effect::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(-50%);
  background: var(--ripple-bg-color);
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.6s;
}

.ripple-effect:active::after {
  opacity: 1;
  transition: none;
}

.dot-separator {
  @apply before:mx-1 before:content-["•"];
}

.react-loading-skeleton {
  --base-color: var(--skeleton-base-color) !important;
  --highlight-color: var(--skeleton-highlight-color) !important;
}
